@font-face {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 300;
}
body{
    font-family: Roboto;
    font-weight: 300;
    margin:0;
    background-color: #fdfdfd;
}
h3 {
    color: #4B4949;
}
h2 {
    color: #4B4949;
}
p {
    color: #000000;
    line-height: 1.8 ;
}

hr {
    height: 3px;
    color: #fac56f;
    border: none;
    background-color: #fac56f;
    width: 180px;
    /* float: left; */
    margin-left: 0;
    display: block;
}

/* menu bar */
.menu {
    overflow: hidden;
    background-color: #21345f;
}     
.menu a{
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;    
    padding-top: 17px;

}

h1{
    color:#0d0d0d;
    text-align: left;
}

#RecentlyStudiedContainer {
    margin-left: 20px;
    margin-bottom: 200px;
}

#AllQuizesContainer {
    margin-left: 20px;
    margin-bottom: 200px;

}

.seperator {
    float: none;
    height: 1px;
    border-width:0;
    color:#0d0d0d;
    background-color:#0d0d0d;
}



footer {
    text-align: center;
    padding: 3px;
    background-color: #E5E5E5;
    color: #FFFFFF;
}
.scrollmenu {
    width: 95%;
    white-space: nowrap;
    height: calc(25vh + 60px);
    margin: auto;
    overflow: scroll;
    display: block;
    /* flex-direction: row; */
    background: #ffffff;
    box-shadow: 0px 5px 10px 2px #00000066;
    overflow-y: hidden;
    border-radius: 30px;
}
::-webkit-scrollbar {
    background-color:transparent;
    width: 20px;
}
::-webkit-scrollbar-button {
    background-color:transparent;
    width: 20px;
}
::-webkit-scrollbar-thumb {
    background-color:gray;
    border-radius: 10px;
    width: 15px;
    border: 5px solid transparent;
    background-clip: padding-box;
}
#scrollmenu::-webkit-scrollbar {
    height: 20px;
}

#orange {
    margin-bottom: 30px;
}

#allQuizzesList {
    height: auto !important;
    white-space: nowrap !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
#scrollmenu2 {
    width: 95%;
    margin: auto;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 10px;
    background: #ffffff;
    box-shadow: 0px 5px 10px 2px #00000066;
    overflow-y: hidden;
    border-radius: 30px;
}



.card {
    margin: 1%;
    width: calc(19%);
    border-radius: 30px;
    text-align: left;
    padding: 30px;
    height: 20vh;
    display: inline-block;
    background-color: #00000011;
    /* box-shadow: 0px 1px 10px 0px #00000044; */

}
  
 
